# Project Scoping

## 1. Project Goals

Some initial questions to answer that could be explored:

- What is the overall biodiversity across the parks?
- Are certain species more concentrated in specific parks?
- Are certain categories more endangered than others?
- Which parks have the most endangered species?
- Which species are most under threat?

## 2. Understanding the Dataset

There are two csv files: `species_info.csv` and `observations.csv`.
- `species_info.csv` columns: Animal category (eg. mammal), scientific name, common name, and conservation status.
- `observations.csv` columns: scientific name, park name, and number of observations of that animal over previous 7 days.

**Data Types**: all columns are string objects except for the number of observations which are int64.

**Size & Quality**:

- `species_info.csv`: 5,824 rows x 4 columns. Missing values: 5,633 (97%), all in the conservation status column.
- `observations.csv`: 23,296 rows x 3 columns. Missing values: 0

## 3. Key Metrics/Analysis Techniques

- Biodiversity Indexes to consider: Simpsonâ€™s Diversity Index, or Shannon Index to quantify biodiversity.
- Trend Analysis: Identify trends between parks.
- Visualization: Plan on using visualizations like bar charts, heatmaps, or maps to make the data easier to interpret.

## 4. Tools & Methods

Python Libraries: pandas, matplotlib, seaborn, for analysis and visualizations. Plotly for interactive map visualizations.

## 5. Deliverables

- Jupyter Notebook Report: Clear insights into biodiversity trends, backed by data.
- Linkedin Article: A summary of the findings and the importance of biodiversity conservation.
- Visualizations: Maps showing species distribution, charts for biodiversity indexes, etc.
- Conclusion: Summarize key findings.

---

# Boilerplate Structure for the Jupyter Notebook Report:

Project Title: Biodiversity in US National Parks
Introduction

Brief overview of the project.
Define the project goals (e.g., understanding biodiversity distribution, identifying trends, etc.).
Dataset Overview

Description of the dataset (source, size, variables).
Initial observations (any patterns or peculiarities?).
Data Cleaning & Preprocessing

Missing data handling, outliers, data transformation.
Tools and libraries used (e.g., pandas, NumPy).
Exploratory Data Analysis (EDA)

Visualizations of species diversity, park distributions, etc.
Any summary statistics or interesting patterns.
Species trends over time (if applicable).
Key Metrics & Calculations

Biodiversity indexes (e.g., Shannon Index, species richness).
Breakdown by park, species group, or region.
Insights & Findings

Highlight major trends or patterns found during analysis.
Discuss regional biodiversity differences, species at risk, etc.
Conservation Implications

Based on your findings, discuss potential conservation actions.
Any policy recommendations?
Conclusion

Summarize key takeaways.
Future work (e.g., further data collection, predictive modeling).
Appendix

Code snippets, additional graphs, or tables.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [24]:
# Load the data for each table
df_obs = pd.read_csv('observations.csv')
df_species = pd.read_csv('species_info.csv')

# Display the first few rows of each table, sorted by 'scientic_name' column
df_obs = df_obs.sort_values(by='scientific_name')
df_species = df_species.sort_values(by='scientific_name')
pd.set_option('display.width', 1000) # Set a large width to prevent wrapping
print('Observations:')
print(df_obs.head(10))
print('-' * 100)
print('Species Info:')
print(df_species.head(10))

Observations:
      scientific_name                            park_name  observations
8050    Abies bifolia            Yellowstone National Park           215
4968    Abies bifolia                  Bryce National Park           109
17990   Abies bifolia  Great Smoky Mountains National Park            72
20930   Abies bifolia               Yosemite National Park           136
4647   Abies concolor  Great Smoky Mountains National Park           101
15193  Abies concolor            Yellowstone National Park           241
23166  Abies concolor               Yosemite National Park           205
8170   Abies concolor                  Bryce National Park            83
2014    Abies fraseri                  Bryce National Park           109
11141   Abies fraseri            Yellowstone National Park           218
----------------------------------------------------------------------------------------------------
Species Info:
               category       scientific_name                                       common_names conservation_status
4061     Vascular Plant         Abies bifolia                          Rocky Mountain Alpine Fir                 NaN
5443     Vascular Plant        Abies concolor  Balsam Fir, Colorado Fir, Concolor Fir, Silver...                 NaN
1928     Vascular Plant         Abies fraseri                                         Fraser Fir  Species of Concern
2908  Nonvascular Plant  Abietinella abietina                                   Abietinella Moss                 NaN
3736     Vascular Plant     Abronia ammophila     Wyoming Sand Verbena, Yellowstone Sand Verbena  Species of Concern
1866     Vascular Plant  Abutilon theophrasti                                         Velvetleaf                 NaN
1768     Vascular Plant    Acalypha gracilens  Narrow-Leaved Three-Seeded Mercury, Slender Co...                 NaN
1769     Vascular Plant  Acalypha ostryifolia  Hornbeam Copper-Leaf, Hornbeam-Leaved Three-Se...                 NaN
1770     Vascular Plant   Acalypha rhomboidea  Common Threeseed Mercury, Virginia Threeseed M...                 NaN
1771     Vascular Plant    Acalypha virginica    Virginia Copperleaf, Virginia Threeseed Mercury                 NaN

To ease data analysis, it would be easier to consolidate the two datasets into one. This will allow for easier analysis and visualization of the data.

The common column is the column `scientific_name` in both datasets. It appears as though there might be four rows per species, one for each park, but this is checked as follows:

In [25]:
# Check the number of species (`scientific_name`) per park
species_per_park = df_obs.groupby('park_name')['scientific_name'].nunique()
print('Number of species per park:')
print(species_per_park)

Number of species per park:
park_name
Bryce National Park                    5541
Great Smoky Mountains National Park    5541
Yellowstone National Park              5541
Yosemite National Park                 5541
Name: scientific_name, dtype: int64

If there are 5541 distinct species, and 4 parks, there should be 5541 * 4 = 22164 rows in the `observations.csv` file.

However, there are actually 23,296 rows i.e. an additional 1132 rows. This suggests that there are some species with more than one row for the same park. This is checked as follows:

In [26]:
# print list of scientific_name which have multiple rows for the same park i.e. more than 4 rows:
species_row_count = df_obs.groupby(['scientific_name', 'park_name']).size().reset_index(name='count')
species_row_count = species_row_count[species_row_count['count'] > 4]
print('Species with more than 4 rows for the same park:')
print(species_row_count['scientific_name'].unique())

df_obs_duplicates = df_obs.groupby(['scientific_name']).agg(scientific_name_count=('scientific_name', 'count')).reset_index()
df_obs_duplicates = df_obs_duplicates.sort_values(['scientific_name_count'], ascending=[False])
df_obs_duplicates = df_obs_duplicates[df_obs_duplicates['scientific_name_count'] > 4]

# for each value of scientific_name_count, list the scientific_name
for scientific_name_count in df_obs_duplicates['scientific_name_count'].unique():
    print(f'Species with {scientific_name_count} rows:')
    scientific_names = df_obs_duplicates[df_obs_duplicates['scientific_name_count'] == scientific_name_count]['scientific_name'].tolist()
    print(scientific_names)

Species with more than 4 rows for the same park:
[]
Species with 12 rows:
['Canis lupus', 'Holcus lanatus', 'Puma concolor', 'Myotis lucifugus', 'Castor canadensis', 'Procyon lotor', 'Streptopelia decaocto', 'Hypochaeris radicata', 'Columba livia']
Species with 8 rows:
['Podiceps nigricollis', 'Carex leptalea', 'Cirsium arvense', 'Malus pumila', 'Brassica rapa', 'Digitaria sanguinalis', 'Digitaria ischaemum', 'Poa palustris', 'Didelphis virginiana', 'Geranium carolinianum', 'Cichorium intybus', 'Typha latifolia', 'Digitalis purpurea', 'Erigeron strigosus', 'Poa trivialis', 'Triticum aestivum', 'Cinna latifolia', 'Poa pratensis', 'Spilogale putorius', 'Malva neglecta', 'Apocynum androsaemifolium', 'Botrychium virginianum', 'Megascops asio', 'Trifolium repens', 'Arabidopsis thaliana', 'Hypericum perforatum', 'Medicago lupulina', 'Poa annua', 'Apocynum cannabinum', 'Scirpus cyperinus', 'Anthemis cotula', 'Poa compressa', 'Martes americana', 'Nepeta cataria', 'Marrubium vulgare', 'Phalaris arundinacea', 'Dipsacus fullonum', 'Anthus rubescens', 'Branta bernicla', 'Tyto alba', 'Bromus japonicus', 'Cirsium scariosum', 'Galium triflorum', 'Polygonum amphibium var. emersum', 'Dianthus barbatus', 'Dianthus armeria', 'Polygonum aviculare', 'Lutra canadensis', 'Verbascum thapsus', 'Juncus dudleyi', 'Oncorhynchus mykiss', 'Polygonum convolvulus', 'Anagallis arvensis', 'Ondatra zibethicus', 'Bulbostylis capillaris', 'Polygonum hydropiperoides', 'Polygonum lapathifolium', 'Erodium cicutarium', 'Polygonum persicaria', 'Ambrosia artemisiifolia', 'Butorides virescens', 'Ranunculus repens', 'Luzula multiflora', 'Cirsium vulgare', 'Lycopus americanus', 'Chen caerulescens', 'Urocyon cinereoargenteus', 'Ursus americanus', 'Bromus secalinus', 'Nycticorax nycticorax', 'Lycopus uniflorus', 'Utricularia intermedia', 'Bromus tectorum', 'Petrochelidon pyrrhonota', 'Juncus brevicaudatus', 'Ochotona princeps', 'Polioptila caerulea', 'Peromyscus maniculatus', 'Secale cereale', 'Lycopodium annotinum', 'Odocoileus virginianus', 'Gavia pacifica', 'Gavia immer', 'Botrychium simplex', 'Trifolium campestre', 'Melanerpes lewis', 'Eleocharis palustris', 'Hieracium caespitosum', 'Mustela vison', 'Epipactis helleborine', 'Sanicula marilandica', 'Eptesicus fuscus', 'Equisetum arvense', 'Sus scrofa', 'Saponaria officinalis', 'Equisetum hyemale var. affine', 'Thlaspi arvense', 'Barbarea vulgaris', 'Rumex crispus', 'Centaurea cyanus', 'Rumex acetosella', 'Sturnus vulgaris', 'Eleocharis acicularis', 'Eragrostis cilianensis', 'Centrocercus urophasianus', 'Mustela erminea', 'Mimus polyglottos', 'Elodea nuttallii', 'Avena sativa', 'Pica hudsonia', 'Empidonax wrightii', 'Heracleum lanatum', 'Hesperis matronalis', 'Epilobium ciliatum ssp. ciliatum', 'Tamias umbrinus', 'Mollugo verticillata', 'Tanacetum vulgare', 'Salvelinus fontinalis', 'Salix exigua', 'Carum carvi', 'Taraxacum laevigatum', 'Taraxacum officinale', 'Helianthus annuus', 'Taxidea taxus', 'Muhlenbergia schreberi', 'Asparagus officinalis', 'Myotis californicus', 'Myotis ciliolabrum', 'Riparia riparia', 'Charina bottae', 'Arctium minus', 'Rosa eglanteria', 'Glyceria striata', 'Erigeron annuus', 'Tragopogon porrifolius', 'Trautvetteria caroliniensis', 'Melilotus officinalis', 'Melilotus albus', 'Rorippa palustris ssp. fernaldiana', 'Rudbeckia hirta var. pulcherrima', 'Glechoma hederacea', 'Rorippa nasturtium-aquaticum', 'Stellaria media', 'Stellaria longifolia', 'Glaucidium gnoma', 'Trifolium aureum', 'Veronica arvensis', 'Trifolium dubium', 'Mentha arvensis', 'Draba verna', 'Phleum pratense', 'Bidens tripartita', 'Strix nebulosa', 'Hordeum pusillum', 'Cerastium fontanum ssp. vulgare', 'Cerastium glomeratum', 'Microtus longicaudus', 'Plantago lanceolata', 'Plantago major', 'Echinochloa crus-galli', 'Dumetella carolinensis', 'Dulichium arundinaceum', 'Cervus elaphus', 'Erethizon dorsatum', 'Gratiola neglecta', 'Bidens cernua', 'Arenaria serpyllifolia', 'Rotala ramosior', 'Drosera rotundifolia', 'Veronica anagallis-aquatica', 'Monotropa hypopithys', 'Amaranthus retroflexus', 'Cannabis sativa', 'Lindernia dubia', 'Agrostis mertensii', 'Lolium perenne', 'Solidago gigantea', 'Linaria vulgaris', 'Festuca rubra', 'Daucus carota', 'Agrostis scabra', 'Agrostis stolonifera', 'Agrostis variabilis', 'Cyperus esculentus', 'Lamium amplexicaule', 'Lactuca serriola', 'Conyza canadensis', 'Viola canadensis', 'Cynoglossum officinale', 'Alectoris chukar', 'Lactuca biennis', 'Sisymbrium officinale', 'Contopus sordidulus', 'Crepis capillaris', 'Cynodon dactylon', 'Callitriche heterophylla', 'Potentilla norvegica', 'Carduus acanthoides', 'Viola arvensis', 'Potentilla recta', 'Pandion haliaetus', 'Orobanche uniflora', 'Corallorrhiza wisteriana', 'Agrostis gigantea', 'Lanius excubitor', 'Lasiurus cinereus', 'Oxalis dillenii', 'Oxalis corniculata', 'Lemna gibba', 'Pastinaca sativa', 'Oxalis violacea', 'Corynorhinus townsendii', 'Potamogeton nodosus', 'Lemna valdiviana', 'Lathyrus latifolius', 'Lepidium campestre', 'Passerella iliaca', 'Potentilla argentea', 'Setaria viridis', 'Potamogeton epihydrus', 'Lindernia dubia var. anagallidea', 'Setaria pumila', 'Lasionycteris noctivagans', 'Potamogeton amplifolius', 'Dactylis glomerata', 'Fragaria vesca', 'Portulaca oleracea', 'Fragaria virginiana', 'Vulpia bromoides', 'Coreopsis lanceolata', 'Vulpia myuros', 'Danthonia spicata', 'Vulpia octoflora', 'Agrostis capillaris', 'Vinca major', 'Vireo solitarius', 'Silene vulgaris', 'Galium aparine', 'Silene antirrhina', 'Parietaria pensylvanica', 'Rana catesbeiana', 'Leucanthemum vulgare', 'Sorex cinereus', 'Zizia aptera', 'Cardamine pensylvanica', 'Sorex hoyi', 'Sorex monticolus', 'Prunella vulgaris', 'Panicum rigidulum var. rigidulum', 'Calamagrostis canadensis', 'Sorex palustris', 'Veronica persica', 'Erysimum cheiranthoides', 'Leucosticte tephrocotis', 'Juncus tenuis', 'Ludwigia palustris', 'Amaranthus albus', 'Silene latifolia ssp. alba', 'Lunaria annua', 'Panicum capillare', 'Panicum miliaceum', 'Soliva sessilis', 'Sonchus asper', 'Conium maculatum', 'Capsella bursa-pastoris']

In [22]:
# Add observations values for duplicates where scientific name and park name are the same.
df_obs_clean = df_obs.groupby(['scientific_name', 'park_name']).sum().reset_index()
df_obs_clean.to_csv('observations_clean.csv', index=False)

# Check for duplicates in the cleaned data
df_obs_clean_duplicates = df_obs_clean.groupby(['scientific_name']).agg(scientific_name_count=('scientific_name', 'count')).reset_index()
df_obs_clean_duplicates = df_obs_clean_duplicates.sort_values(['scientific_name_count'], ascending=[False])
df_obs_clean_duplicates = df_obs_clean_duplicates[df_obs_clean_duplicates['scientific_name_count'] > 4]

print('df_obs_clean_duplicates:')
print(df_obs_clean.info())
# print('df_obs_clean_duplicates count:')

df_obs_clean_duplicates:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22164 entries, 0 to 22163
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  22164 non-null  object
 1   park_name        22164 non-null  object
 2   observations     22164 non-null  int64
dtypes: int64(1), object(2)
memory usage: 519.6+ KB
None

We have now removed the duplicates and have 22164 rows in the `observations.csv` file. This is the expected number of rows.

In [15]:
# Merge the two tables on the 'scientific_name' column
df = pd.merge(df_obs, df_species, on='scientific_name')

# Sort the merged table by 'scientific_name' then 'park_name'
df = df.sort_values(by=['scientific_name', 'park_name'])

# Display the first few rows of the merged table
pd.set_option('display.width', 1000) # Set a large width to prevent wrapping
print(df.head(15))

            scientific_name                            park_name  observations           category                                       common_names conservation_status
5468          Abies bifolia                  Bryce National Park           109     Vascular Plant                          Rocky Mountain Alpine Fir                 NaN
19789         Abies bifolia  Great Smoky Mountains National Park            72     Vascular Plant                          Rocky Mountain Alpine Fir                 NaN
8854          Abies bifolia            Yellowstone National Park           215     Vascular Plant                          Rocky Mountain Alpine Fir                 NaN
23041         Abies bifolia               Yosemite National Park           136     Vascular Plant                          Rocky Mountain Alpine Fir                 NaN
8989         Abies concolor                  Bryce National Park            83     Vascular Plant  Balsam Fir, Colorado Fir, Concolor Fir, Silver...                 NaN
5113         Abies concolor  Great Smoky Mountains National Park           101     Vascular Plant  Balsam Fir, Colorado Fir, Concolor Fir, Silver...                 NaN
16747        Abies concolor            Yellowstone National Park           241     Vascular Plant  Balsam Fir, Colorado Fir, Concolor Fir, Silver...                 NaN
25491        Abies concolor               Yosemite National Park           205     Vascular Plant  Balsam Fir, Colorado Fir, Concolor Fir, Silver...                 NaN
2231          Abies fraseri                  Bryce National Park           109     Vascular Plant                                         Fraser Fir  Species of Concern
5627          Abies fraseri  Great Smoky Mountains National Park            81     Vascular Plant                                         Fraser Fir  Species of Concern
12292         Abies fraseri            Yellowstone National Park           218     Vascular Plant                                         Fraser Fir  Species of Concern
6370          Abies fraseri               Yosemite National Park           110     Vascular Plant                                         Fraser Fir  Species of Concern
9570   Abietinella abietina                  Bryce National Park           101  Nonvascular Plant                                   Abietinella Moss                 NaN
3452   Abietinella abietina  Great Smoky Mountains National Park            65  Nonvascular Plant                                   Abietinella Moss                 NaN
23678  Abietinella abietina            Yellowstone National Park           243  Nonvascular Plant                                   Abietinella Moss                 NaN

NB. the default merge in pandas is an inner merge, meaning only rows

In [16]:
# check data types
print(df.dtypes)

scientific_name        object
park_name              object
observations            int64
category               object
common_names           object
conservation_status    object
dtype: object

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25632 entries, 5468 to 17885
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scientific_name      25632 non-null  object
 1   park_name            25632 non-null  object
 2   observations         25632 non-null  int64
 3   category             25632 non-null  object
 4   common_names         25632 non-null  object
 5   conservation_status  880 non-null    object
dtypes: int64(1), object(5)
memory usage: 1.4+ MB

In [26]:
# check for missing values
print(df.isnull().sum())

scientific_name            0
park_name                  0
observations               0
category                   0
common_names               0
conservation_status    24752
dtype: int64

In [27]:
# print unique values of conservation_status
print(df.conservation_status.unique())

[nan 'Species of Concern' 'Threatened' 'Endangered' 'In Recovery']